#cast .row {
	flex-wrap: wrap;
	align-items: stretch;
}

#cast .card div:last-child {
	border-top: 1px solid var(--shadow);
	padding: var(--pad-size-sm);
}

#cast .card h3, #cast .card p {
	margin: 0;
}

#cast .card h3 {
	color: var(--primary-color);
}

#cast .card p {
	font-size: smaller;
}

#cast section.card {
	width: 180px;
	margin-bottom: 20px;
}

#cast img {
	max-height: 90%;
}

#cast .img-wrapper {
	height: 200px;
	text-align: center;
	padding: var(--pad-size-sm);
	border-radius: var(--card-radius) var(--card-radius) 0 0;
}