section.card {
	border-radius: var(--card-radius);
	background: var(--card-bg);
	box-shadow: var(--card-shadow);
	word-wrap: break-word;
}

section.card .card-body {
	padding: var(--pad-size)
}

section.card .title {
	color: var(--primary-color);
}

.hover-card:hover {
	opacity: 0.7;
	cursor: pointer;
}

img.image-card {
	border-radius: 0.5em;
	box-shadow: var(--card-shadow);
	width: 300px;
	margin: 0.5em;
}

.loader {
	border: 4px solid var(--primary-color);
	border-top-color: transparent;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	animation: spin 0.8s linear infinite;
}

.label {
	background-color: var(--primary-color);
	color: var(--card-bg);
	padding: 0.2em 0.5em;
	border-radius: 0.2em;
}

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: var(--bg-color);
	display: none;
	z-index: 2;
	animation: fromTop 0.4s, appearing 0.4s;
}

.modal-close {
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 3;
}

.modal-content {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	justify-content: center;
	overflow: auto;
	animation: fromBottom 0.4s, appearing 0.4s;
}

#error {
	z-index: 5;
	position: fixed;
	bottom: 20px;
	left: 20px;
	background: var(--warn-color);
	color: white;
	width: 300px;
	border-radius: var(--card-radius);
	left: -350px;
	-webkit-transition: left 0.4s;
	-moz-transition: left 0.4s;
	-o-transition: left 0.4s;
	transition: left 0.4s;
}

#error h3 {
	text-transform: uppercase;
	margin: 0 0 10px;
}

#error p {
	margin: 0;
}