@import "root.css";
@import "icons.css";
@import "utilities.css";
@import "components.css";
@import "tabs.css";
@import "search.css";
@import "cast-list.css";
@import "more-menu.css";

/* To Start */
#welcome h2 {
	display: inline-block;
}

#welcome h2 i {
	vertical-align: bottom;
}

#sub-header, nav, #overview, #cast {
	visibility: hidden;
}

header {
	border-bottom: 1px solid var(--shadow);
	background-color: var(--bg-color);
	padding-top: var(--pad-size-sm);
}

.heading {
	background-color: var(--card-bg);
	box-shadow: 1px 3px 4px var(--shadow);
}

#overview img {
	min-height: 400px;
}

i.text-icon {
	margin-right: 10px;
	vertical-align: text-bottom;
}

#ratings {
	flex-wrap: wrap;
	border-bottom: 1px solid var(--shadow);
}

#ratings div {
	padding: 1em 0;
}

.rating h3, .rating p {
	margin: 0;
}

div.image-list {
	overflow: auto;
	white-space: nowrap;
}

main {
	max-width: 1000px;
	margin: 0 auto;
}

footer {
	text-align: center;
	background-color: var(--text-color);
	color: var(--card-bg);
	font-size: smaller;
}

footer a {
	color: var(--card-bg);
}

#img-modal {
	background-color: rgba(0, 0, 0, 0.9);
}

#img-modal .modal-close, #cast-modal .modal-close {
	color: var(--card-bg)
}

#img-modal .modal-close:hover, #cast-modal .modal-close:hover {
	color: var(--text-color-light);
}

#img-modal img {
	max-height: 90%;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky+main {
	padding-top: 88px;
}

#cast-modal img {
	height: 400px;
}

#cast-modal .image-list {
	justify-content: flex-start;
}

#loading {
	background: none;
	z-index: 5;
}