#more_menu {
	background-color: var(--card-bg);
	box-shadow: 1px 2px 5px var(--shadow);
	min-width: 200px;
	position: absolute;
	display: none;
	right: 10px;
	top: 140px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	z-index: 2;
}

#more_menu li {
	display: block;
	padding: var(--pad-size-sm);
	text-decoration: none;
	list-style-type: none;
}

#more_menu li:hover {
	background-color: var(--shadow);
	color: black;
}