body {
	--text-color: #555;
	--text-color-light: #888;
	--primary-color: #4b77be;
	--warn-color: #e84118;
	--bg-color: #f8f8f8;
	--card-bg: white;
	--pad-size: 2em;
	--pad-size-sm: 1em;
	--shadow: #ddd;
	--card-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.11);
	--card-radius: 0.5em;
	padding: 0px;
	margin: 0px;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: "Quicksand", sans-serif;
	letter-spacing: 0.4px;
}

a {
	color: var(--primary-color);
}

a:hover {
	color: var(--text-color-light);
}