#tab-headings {
	padding-top: 2em;
	justify-content: center;
	align-items: flex-end;
	z-index: 1;
}

#tab-headings a {
	text-decoration: none;
	padding: 0 var(--pad-size-sm) var(--pad-size-sm);
	font-size: large;
	text-transform: uppercase;
	cursor: pointer;
}

#tab-headings a:hover {
	color: var(--primary-color);
}

.tab-section {
	display: none;
	animation: appearing 0.4s;
}

nav {
	position: relative;
}

#tab-line {
	position: absolute;
	bottom: 0;
	height: 3px;
	width: 50px;
	background-color: var(--primary-color);
	left: 0;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}