/* LAYOUT */
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* SPACING */
[padTop] {
	padding-top: var(--pad-size);
}

[padBottom] {
	padding-bottom: var(--pad-size);
}

[padRight] {
	padding-right: var(--pad-size);
}

[padLeft] {
	padding-left: var(--pad-size);
}

[padSides] {
	padding-left: var(--pad-size);
	padding-right: var(--pad-size);
}

[padTops] {
	padding-top: var(--pad-size);
	padding-bottom: var(--pad-size);
}

[padAll] {
	padding: var(--pad-size);
}

[padAll-sm] {
	padding: var(--pad-size-sm);
}

[spaceTop] {
	margin-top: var(--pad-size);
}

[spaceTops] {
	margin-top: var(--pad-size);
	margin-bottom: var(--pad-size);
}

/* TEXT */
.light-text {
	color: var(--text-color-light);
}

.point {
	cursor: pointer;
}

.point:hover {
	color: var(--text-color-light);
}

.center-text {
	text-align: center;
}

.primary-text {
	color: var(--primary-color);
}

/* ANIMATIONS */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes fromTop {
	from {
		top: -300px;
	}

	to {
		top: 0;
	}
}

@keyframes fromBottom {
	from {
		bottom: -300px;
	}

	to {
		bottom: 0;
	}
}

@keyframes appearing {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}